/* Shared styles */

:root {
  --color-primary: #326ee2;
  --box-shadow: 0px 0px 10px 0px rgba(255, 0, 9, 0.31);
  --font-family-Inter : "Inter", sans-serif;
  --font-family-WorkSans : "Work Sans", sans-serif;
}

.btn-primary {
  background-color: var(--color-primary);
  font-family: "Work Sans", sans-serif;
  border: 0;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 14px;
  padding: 15px;
}

.img {
  width: 100px;
}

.card {
  padding: 15px;
  width: 360px;
  box-shadow: var(--box-shadow);
}

.title {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
}


* {
  box-sizing: border-box;

}

body {
  padding: 0;
  margin: 0 ;
  overflow-x: hidden;
}

.slide-btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slide-btns a {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-primary);
  margin-right: 9px;
}
.slide-btns .active {
  background-color: #e41e25;
}

/* header styles */
.logo-div {
  display: flex;
  /* border: 2px solid red; */
  margin: 20px 70px;
  justify-content: space-between;
  max-width: 1200px;
}
.logo-img {
  width: 240px;
  height: 50px;
}

/* nav related styles */

nav {
  background-color: var(--color-primary);
  /* border: 2px solid red; */
  color: white;
  padding: 5px;
}
nav > ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}
.nav-logo {
  display: flex;
  margin-left: 23rem;
}
.nav-logo li {
  background-color: white;
  border-radius: 10px;
  width: 30px;
  padding-top: 5px;
  padding-left: 10px;
  height: 25px;
}

/* main related styles */

/* banner related styles */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.banner-text {
  max-width: 660px;
}
.banner-title {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 10px;
}
.banner-description {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}

.banner-img {
  width: 400px;
  margin-right: 100px;
  border-radius: 6px;
  border: 2px solid var(--color-primary);
  box-shadow: 20px 20px rgba(255, 0, 9, 0.1);
}

.banner-btn {
  background-color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border: 0;
  color: white;
  font-size: 15px;
  padding: 25px;
}

/* Team Overview related styles */

.team-section {
  position: relative;
  margin-top: 220px;
  display: flex;
  gap: 50px;
  min-height: 400px;
  padding: 50px;
  background-color: var(--color-primary);
}
.team-text-content {
  width: 700px;
}

.team-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: white;
}
.team-description {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.team-img {
  max-width: 350px;
}



/* key feature related styles */
.key-section {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.key-description{
  font-family: "Inter", sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* know more section related style */
.know-more-container {
  display: flex;

  max-width: 1200px;
  font-family: "Inter", sans-serif;
  margin: 40px auto;
  gap: 100px;
  justify-content: center;
}
#know-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--color-primary);
}
.know-img {
  width: 500px;
}
ul > li {
  margin-top: 20px;
}
.know-list-item {
  list-style: circle;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#know-button {
  color: var(--color-primary);
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
  border: none;
  margin-bottom: 2px;
  border-bottom: 2px solid var(--color-primary);
  background-color: white;
}


/* market analysis related style */
.analysis-section {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
  min-height: 400px;
  padding: 150px 20vw;
  background-color: var(--color-primary);
}
.analysis-content {
  display: flex;
  max-width: 700px;
}

.analysis-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: white;
}
.analysis-description {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.analysis-img {
  width: 230px;
}


#market-button {
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
  border: none;
  margin-bottom: 2px;
  color: white;
  border-bottom: 2px solid white;
  background-color: var(--color-primary);
}
/* feature  related styles */
.feature-section {
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.feature-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}

.feature-img {
  width: 100%;
}

.feature-card {
  padding: 15px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 270px;
}

.feature-title {
  font-family: var(--font-family-Inter)
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


/* regulations related styles */
#regulations-title {
  color: var(--color-primary);
  font-family: var(--font-family-Inter);
  font-weight: 600;
  width: max-content;
  font-size: 2rem;
  margin: 10px auto;
}
.regulation-subtitle{
  width: max-content;
  font-family: var(--font-family-Inter);
  margin: 30px auto;
  text-align: center;
}

.regulation-card-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.regulation-card {
  padding: 25px;
  box-shadow: var(--box-shadow);
}
.regulation-description {
  font-family: "Inter", sans-serif;
}

/* services section related styles */
.service-img-container {
  display: flex;
  margin-left: 40px;
  gap: 20px;
}
#services-title {
  color: var(--color-primary);
  font-family: var(--font-family-Inter                --);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.service-img {
  width: 100px;
  margin-right: 50px;
}

.services-section {
  max-width: 1200px;
  margin: 0 auto;
}

/* footer related styles */
.footer {
  display: flex;
  align-items: first baseline;
  gap: 80px;
  margin-left: 90px;
  margin-top: 60px;
}

.footer-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.footer-developer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.e-tin {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.footer-row-3 {
  display: flex;
  flex-direction: column;
}

.footer-img {
  display: flex;
  flex-direction: column;
}
.footer-link {
  text-decoration: none;
  margin-bottom: 15px;
  color: black;
  font-weight: 400;
}

.footer-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
  font-weight: 700px;
}



.footer-social-icons {
  display: flex;
  align-items: start;
}

.footer-social {
  color: white;
}


.footer-desc {
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 400;
}

.email-span {
  font-weight: bold;
}

.footer-logo li {
  background-color: var(--color-primary);
  border-radius: 10px;
  width: 30px;
  padding-top: 5px;
  padding-left: 10px;
  height: 25px;
}

.footer-end {
  background-color: var(--color-primary);
  color: white;
  display: flex;
  font-weight: 400;
  justify-content: center;
  padding: 10px;
  font-family: "Inter", sans-serif;
}

.hide {
  display: none;
}
