/* Shared styles */

:root {
    --color-primary: #326EE2;
    --box-shadow: 0px 0px 10px 0px rgba(255, 0, 9, 0.31);

}

.btn-primary {
    background-color: var(--color-primary);
    border: 0;
    color: white;
    padding: 15px;   
    
}

.img {
    width: 100px;
}

.card {
    padding: 15px;
    box-shadow: var(--box-shadow)
}  

.title {
        color: var(--color-primary);
}

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}
/* header styles */
.logo-div {
    display: flex;
    justify-content: space-between;
}
.logo-img {
    width: 240px;
    height: 50px;
}

/* nav related styles */


nav {
    background-color: var(--color-primary);
    color: white;
    padding: 20px;
}
nav > ul {
    display: flex;

}

ul li {
    list-style: none;
    margin-left: 20px;
}

/* main related styles */

/* banner related styles */
.banner-section {
    display: flex;
    align-items: center;
    margin: 120px ;
}
.banner-text {
    max-width: 660px;
}
.banner-title {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}
.banner-description {
    color: #000000;
    margin-bottom: 20px;
}
.banner-img{
    max-width: 340px;
}
/* key feature related styles */
.key-section {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}




 

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* know more section related style */
.know-more-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}
.know-img {
    width: 570px;
}

/* feature feature related styles */
.feature-section {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}
.feature-card-container{
   display: flex;
   gap: 10px;
   justify-content: center;
}

.feature-img {
    width: 100px;
}



.feature-card {
    padding: 15px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 270px;
}   

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* market analysis related style */
.analysis-section{
    position: relative;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    background-color: var(--color-primary);
}
.analysis-content{
    display: flex;
}


.analysis-title{
    font-size: 2rem;
    color: white;
}
.analysis-description{
    color: white;
}


.analysis-img{
    max-width: 230px;
}

.curve{
    position: absolute;
    height: 225px;
    width: 100%;
    top: 0;
}

.curve::before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
    transform: translate(0%, -70%);
}

.curve::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    /* background-color: var(--color-primary); */
    background-color: green;
    transform: translate(40%, -100%);
    z-index: -1;
}

/* regulations related styles */
#regulations-title {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.regulation-card-container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* services section related styles */
.service-img-container{
    display: flex;
}

.service-img{
    width: 100px;
    margin-right: 50px;
}

.servies-section{
    max-width: 1200px;
    margin: 0 auto;
}


/* footer related styles */
.footer {
    display: flex;
    justify-content: center;
}