/* responsive styles */
/* small devices */
@media screen and (max-width: 576px) {
  /* shared */
  .btn-primary {
    border-radius: 5px;
    margin-right: 10px;
    font-size: 8px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .slide-btns {
    display: none;
  }
  /* Logo div */
  .logo-div {
    flex-direction: column;
    
  }
  .logo-img {
    width: 140px;
    height: 50px;
  }

  /* nav */
  .nav-logo {
    margin-left: 0px;
    margin-top: 2px;
  }

  nav > ul {
    flex-direction: column;
    align-items: start;
  }

  /* banner style */

  .banner-section {
    flex-direction: column;
    width: 100vw;
    margin-left: 10px;
    margin: 0px;
    gap: 0px;
  }

  .banner-img {
    border: none;
    box-shadow: none;
    width: 180px;
    margin-left: 80px;
    align-items: center;
  }

  .banner-title {
    font-size: 25px;
    margin-bottom: 7px;
    margin-left: 20px;
  }

  .banner-description {
    margin-left: 20px;

    font-size: 12px;
    margin-bottom: 10px;
  }

  .banner-btn {
    font-size: 13px;
    margin-left: 20px;
    padding: 10px;
  }

  

  /* team */

  .team-section {
    position: static;
    margin-top: 0px;
    flex-direction: column;
    margin-left: 0px;
    gap: 0px;
    padding-left: 40px;
    min-height: auto;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-primary);
  }
  .team-text-content {
    width: 80vw;
    max-width: 100%;
  }

  .team-title {
    font-size: 25px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: white;
  }
  .team-description {
    font-size: 13px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .team-img {
    width: 60vw;
  }


  /* Key feature */

  .key-section {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 10px;
  }

  .card-container {
    margin-left: 20px;
  }
  .card-container {
    flex-direction: column;
  }

  .card {
    width: 300px;
    margin-left: 10px;
  }

  /* know more */
  .know-more-container {
    width: 280px;
    flex-direction: column;
    text-align: start;
    margin: 6px;
    gap: 3px;
    justify-content: center;
  }
  #know-title {
    font-size: 20px;
    margin-left: 10px;
    width: max-content;
    max-width: 0 auto;
  }
  .know-img {
    width: 300px;
  }
  .know-list-item {
    font-size: 13px;
  }
  .know-description {
    font-size: 13px;
    width: 90vw;
    margin-left: 10px;
  }
  #know-button {
    font-size: 13px;
    margin-left: 10px;

  }

  /* analysis */
  .analysis-section {
    position: static;
    width: 100vw;
    margin: 0;
    min-height: 200px;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    background-color: var(--color-primary);
  }

  .analysis-title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-family-Inter);
    color: white;
  }
  .analysis-description {
    font-size: 13px;
    margin-left: 20px;
    width: 80vw;
  }

  .analysis-img {
    width: 50%;
    margin-left: 60px;
    margin-top: 20px;
  }

  #market-button {
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  
  /* feature */
  .feature-section {
    margin-left: 0px;
    font-size: 1rem;
  }
  .feature-card-container {
    flex-direction: column;
    margin-left: 30px;
  }

  .feature-img {
    width: auto;
  }

  .feature-card {
    padding: 15px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 270px;
  }

  .feature-title {
    font-family: "Inter", sans-serif;
  }

  .card-container {
    flex-direction: column;
    gap: 0px;
    justify-content: start;
  }


  /* regulations */
  #regulations-title {
    font-size: 1rem;
    margin: 15px;
    text-align: center;
  }
  .regulation-subtitle{
    width: 80vw
  }

  .regulation-card-container {
    width: 100vw;
    grid-template-columns: 1fr;
  }
  .regulation-card {
    padding: 20px;
    width: 80vw;
    margin-left: 30px;
  }
  .regulations-section {
    max-width: 200px;
  }

   /* services  */
   .service-img-container {
    flex-direction: column;
    /* new */
    align-items: center;
  }
  #services-title {
    font-size: 25px;
  }


 
  /* Footer */

  .footer {
    flex-direction: column;
    gap: 0px;
    margin-top: 40px;
  }

  .footer-title {
    font-size: 12px;
    align-items: center;
  }

  .footer-developer {
    flex-direction: row;
  }

  .footer-row-3 {
    flex-direction: column;
  }

  .footer-img {
    flex-direction: row;
  }
  .footer-link {
    margin-bottom: 5px;
  }

  .footer-social-icons {
    flex-direction: column;
  }

  .footer-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}